body{
font-family:Arial;
margin:0;
background:#fff3e0;
}

header{
background:#8b4513;
color:white;
padding:15px;
display:flex;
gap:20px;
}

.hero{
text-align:center;
padding:80px;
}

button{
background:#ff7a00;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
}

.menu{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
}

.item{
background:white;
padding:20px;
border-radius:10px;
}
